@charset "UTF-8";

* {
  font-family: 'Lato', sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #14181C;
  color: #8899AA;
  margin: 0 8px;
  height: 100%;
  --bodyHeight: 584px;
  
}

header {
  display: flex;
  margin-inline: 100px;
}

main {
  background-color: #1C2229;
  padding: 10px;
  text-align: center;
}

main h2 {
  margin-bottom: 0px;
  font-size: larger;
}

#principal{
  width: fit-content;
  margin: auto;
  text-align: justify;
}

.movies {
  text-align: center;
  margin-bottom: 70px;
}

#mauricio {
    width: 200px;
    height: auto;
    margin-left: 200px;
}

#cabeçalho {
  align-items: center;
  text-align: center;
}

.movies img {
  width: 144px;
  height: 247px;
  text-align: center;
  margin-inline: 10px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 6px black;
  overflow: hidden;
  transition: 0.3s;
}

.movies img:hover {
  transform: scale(1.1);
}

#titulo_p {
  font-family: Arial, sans-serif;
  align-items: center;
  display: flex;
}

#btn-login, #btn-cadastro, #loginSubmit, #cadastroSubmit {
  background: #00b300;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}

.hidden {
  display: none;
}

input[type=text], input[type=password], input[type=email] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

::placeholder {
  text-align: center;
}

nav {
  font-weight: bolder;
  padding-bottom: 1px;
  width: fit-content;
  margin-left: auto;
}

ul {
  padding-left: 0px;
}

nav a {
  padding: 6px 10px;
  color: white;
}

a {
  text-decoration: none;
}

main a {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
}

a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.clip {
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 750px) {
	.movies {
	  text-align: center;
	  width: 100%;
	  margin-bottom: 8%;
	  overflow: scroll hidden;
	  white-space: nowrap;
	  text-align: left;
	}

	.movies img {
	  
	  margin-inline: 1%;
	  margin-top: 2%;
	  
	}

	.movies img:hover {
	  transform: none;
	}
}