@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #14181C;
  color: #8899AA;
  margin: 0 8px;
  height: 100%;
  --bodyHeight: 584px;
  
}

header {
  display: flex;
  margin-inline: 100px;
}

#imagem_entrada {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  margin: 19px 0 0 240px;
  border: 1px solid white;
}

nav {
  font-weight: bolder;
  padding-bottom: 1px;
  width: fit-content;
  margin-left: auto;
}

ul {
  padding-left: 0px;
}

nav a {
  padding: 6px 10px;
  color: white;
}

nav button {
  background-color: #00C030;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  font-size: 1em;
  border: 1px;
}

nav button:hover {
  background-color: #00A11D;
  cursor: pointer;
}

main {
  background-color: #1C2229;
}

/* BA: add "height" */
main {
  padding: 10px;
  text-align: center;
}

main h1 {
  font-weight: 390;
  padding: 75px;
}

main h2 {
  margin-bottom: 0px;
  font-size: larger;
}

/* PÁGINA INICIAL */
#principal{
  width: fit-content;
  margin: auto;
  text-align: justify;
}

.movies {
  text-align: center;
  margin-bottom: 70px;
}

.movies img {
  width: 144px;
  height: 247px;
  text-align: center;
  margin-inline: 10px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 6px black;
  overflow: hidden;
  transition: 0.3s;
}

.movies img:hover {
  transform: scale(1.1);
}

.movies img:active {
  transform: scale(0.95);
}

a {
  text-decoration: none;
}

main a {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
}

a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.clip {
  padding: 10px;
  text-align: center;
}

/* PÁGINA DA REVIEW */
#paginaReview {
  height: calc(var(--bodyHeight) - 64.06px - 83.01px);
}

/* BA: del text-align, del height, add display */
.review {
  width: fit-content;
  display: inline grid;
  grid-template: 1fr / 20% 1fr;
}

.poster {
  width: 144px;
  height: 247px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 6px black;
  margin: 10px;
}

.core {
  margin-right: 0px;
  padding-left: 16px;
  width: 600px;
  text-align: justify;
}

.user {
  font-weight: 900;
  color: rgb(209, 200, 200);
}

#username {
  margin-bottom: 0px;
}

/* BA: "p[img]" --> "div[img p]"  */
div {
  display: flex;
}

/* BA: ex "p img", add "margin-right" */
div img {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin: 14px 10px 0 0;
}

.titulo {
  font-family: 'Neuton', serif;;
  font-weight: 700;
  font-size: 180%;
  color: white;
  padding: 0px;
  margin: 10px 10px 10px 0px;
}

#estrelas {
  font-weight: normal;
  font-size: 0.8em;
  color: #00C030;
}

#coracao {
  font-size: 0.6em;
  color: #FF8000;
}

#ano {
  font-weight: 300;
  font-size: 0.6em;
  padding-left: 15px;
  padding-right: 100px;
  color: #8899AA;
}

#texto {
  font-family: 'Neuton', serif;
  font-size: 20px;
}

/* RODAPÉ */
/* BA: del position, del align, add display, add justify */
footer {
  padding: 15px;
  display: grid;
  justify-items: center;
}

::selection {
  background-color: #8899AA;
  color: white;
}

@media only screen and (max-width: 750px) {

	.movies {
	  text-align: center;
	  width: 100%;
	  margin-bottom: 8%;
	  overflow: scroll hidden;
	  white-space: nowrap;
	  text-align: left;
	}

	.movies a {
	  height: 20%;
	}
	
	.movies img {
	  
	  margin-inline: 1%;
	  margin-top: 2%;
	  
	}

	.movies img:hover {
	  transform: none;
	}


}