@font-face {
    font-family: "graphik-bold";
    src: url(../fonts/Graphik/GraphikBold.otf);
  }
  @font-face {
    font-family: "graphik-semi-bold";
    src: url(../fonts/Graphik/GraphikSemibold.otf);
  }
  @font-face {
    font-family: "graphik-light";
    src: url(../fonts/Graphik/GraphikLight.otf);
  }
  @font-face {
    font-family: "linux-libertine";
    src: url(../fonts/LinLibertine_Re-4.7.5.otf);
  }
  @font-face {
    font-family: "graphik-thin";
    src: url(../fonts/Graphik/GraphikThin.otf);
  }
  @font-face {
    font-family: "graphik-thin-italic";
    src: url(../fonts/Graphik/GraphikThinItalic.otf);
  }
  
body {
  background-color: #14181C;
  color: #8899AA;
  margin: 0 8px;
  height: 100%;
  --bodyHeight: 584px;
  
}

nav {
  font-weight: bolder;
  padding-bottom: 1px;
  width: fit-content;
  margin-left: auto;
}

nav a {
  padding: 6px 10px;
  color: white;
}

nav button {
  background-color: #00C030;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  font-size: 1em;
  border: 1px;
}

nav button:hover {
  background-color: #00A11D;
  cursor: pointer;
}

main {
  background-color: #1C2229;
}

/* BA: add "height" */
main {
  padding: 10px;
  text-align: center;
}

main h1 {
  font-weight: 390;
  padding: 75px;
}

main h2 {
  margin-bottom: 0px;
  font-size: larger;
}

/* PÁGINA INICIAL */
#principal{
  width: fit-content;
  margin: auto;
  text-align: justify;
}

.movies {
  text-align: center;
  margin-bottom: 70px;
}

.movies img {
  width: 144px;
  height: 247px;
  text-align: center;
  margin-inline: 10px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 6px black;
  overflow: hidden;
  transition: 0.3s;
}

.movies img:hover {
  transform: scale(1.1);
}

.movies img:active {
  transform: scale(0.95);
}

a {
  text-decoration: none;
}

main a {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
}

a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.clip {
  padding: 10px;
  text-align: center;
}

/* PÁGINA DA REVIEW */
#paginaReview {
  height: calc(var(--bodyHeight) + 160px);
}

/* BA: del text-align, del height, add display */
.review {
  width: fit-content;
  display: inline grid;
  grid-template: 1fr / 20% 1fr;
}

.poster {
  width: 144px;
  height: 247px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 6px black;
  margin: 10px;
}

.core {
  margin-right: 0px;
  padding-left: 16px;
  width: 600px;
  text-align: justify;
}

.foto-perfil {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 10px; /* Espaço entre a imagem e o texto */
}

.user {
  font-weight: 900;
  color: rgb(209, 200, 200);
}

#username {
  margin-bottom: 15px;
}


.titulo {
  font-family: 'Neuton', serif;;
  font-weight: 700;
  font-size: 180%;
  color: white;
  padding: 0px;
  margin: 10px 10px 10px 0px;
}

#estrelas {
  font-weight: normal;
  font-size: 0.8em;
  color: #00C030;
}

#coracao {
  font-size: 0.6em;
  color: #FF8000;
}

#ano {
  font-weight: 300;
  font-size: 0.6em;
  padding-left: 15px;
  padding-right: 100px;
  color: #8899AA;
}

#texto {
  font-family: 'Neuton', serif;
  font-size: 20px;
}

/* RODAPÉ */
/* BA: del position, del align, add display, add justify */
footer {
  padding: 15px;
  display: grid;
  justify-items: center;
}

::selection {
  background-color: #8899AA;
  color: white;
}

.header {
    max-width: 950px;
    height: 4.5rem;
    margin: 0 auto;
    background-color: #14181c;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: graphik-bold;
  }
  
  .logo-container {
    display: flex;
  }
  .logo-container a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
  .logo-container img {
    margin-right: 0.625rem;
    width: 3.75rem;
  }
  .logo-container h1 {
    font-size: 1.938rem;
  }
  
  .iconos-resize {
    color: #aabbcc;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 12px;
    display: none;
  }
  .iconos-resize i {
    margin-inline: 5px;
  }
  
  .relleno {
    width: 100%;
    height: 100%;
    background: #14181c;
  }
  
  .lista-navbar {
    position: relative;
    left: 5px;
    /* Usuario */
  }
  .lista-navbar li {
    display: inline-block;
    margin-inline: 7px;
  }
  .lista-navbar li a {
    font-family: graphik-semi-bold;
    text-decoration: none;
    color: #aabbcc;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.063rem;
  }
  .lista-navbar li a .bi-search {
    font-size: 0.938rem;
  }
  .lista-navbar li a .bi-lightning-charge-fill {
    font-size: 1.063rem;
  }
  .lista-navbar li a:hover {
    color: white;
    transition: 100ms;
  }
  .lista-navbar li img {
    width: 1.5rem;
    margin-right: 7px;
    border-radius: 50%;
    border: 0.5px solid rgba(255, 232, 214, 0.4392156863);
    position: relative;
    top: 4px;
  }
  #botao-sair {
    background: #b30600;
    color: #ffffff;
    padding: 3px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
  .lista-navbar button p {
    margin-left: 4px;
    cursor: pointer;
  }
  .lista-navbar button i {
    margin-left: auto;
  }


  .degrade {
    position: absolute;
    height: 450px;
    width: 100%;
    z-index: -1;
    background: linear-gradient(#202830, #14181c);
  }
  
  .container {
    max-width: 59.375rem;
    margin: 0 auto;
    font-family: graphik-light, sans-serif;
  }

  @media (max-width: 768px) {
    html {
      font-size: 12px;
    }
    body {
      background: #14181c;
    }
    .relleno {
      background: #14181c;
    }
    .degrade {
      display: none;
    }
    .container {
      padding-left: 8px;
      padding-right: 8px;
    }
    .header {
      height: 3rem;
    }
    .header a {
      margin-left: 15px;
    }
    .header h1 {
      display: none;
    }
    .header .iconos-resize {
      display: flex;
    }
    .mensaje {
      margin: 1.5rem auto;
    }
    .mensaje span {
      display: none;
    }
    .posters-list {
      margin: 0;
      text-align: center;
    }
    .poster-container {
      width: 30vw;
      max-width: 130px;
      margin-top: 10px;
      margin-inline: 1%;
    }
    .poster-container .poster-content {
      outline: 1px solid rgba(170, 187, 204, 0.2823529412);
    }
    .poster-container .poster-content .poster {
      border-radius: 2px 2px 0 0;
    }
    .poster-container .poster-content .poster-footer {
      border-radius: 0 0 2px 2px;
      height: 24px;
    }
    .poster-container .poster-content .poster-footer img {
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 2px;
    }
    .poster-container .poster-content .poster-footer p {
      padding-top: 2px;
      font-size: 0.875rem;
    }
    .poster-container .poster-content:hover {
      outline: 1px solid #2bc016;
      transition: 100ms;
    }
    .poster-container .poster-content:hover .action-poster {
      display: none;
    }
    .poster-container .estrellas p {
      display: none;
    }
    .last-news {
      margin-top: 45px;
    }
    .lastest-news {
      display: block;
      height: 100%;
      margin-bottom: 50px;
    }
    .lastest-news img {
      width: 100%;
    }
    .lastest-news .news-text-container {
      padding: 10px;
      background: #14181c;
    }
    .pr-margin {
      margin-top: 20px;
    }
    .popular-reviews {
      display: block;
    }
    .popular-reviews .columna {
      height: 100%;
    }
    .popular-reviews .columna .review-container {
      margin-top: 15px;
      padding-inline: 4px;
    }
    .popular-reviews .columna .review-container .review-content .user-title-stars {
      padding: 15px;
    }
    .popular-reviews .columna .review-container .review-content .user-title-stars .estrellas-review span {
      position: relative;
      left: 1px;
      bottom: 1px;
    }
    .popular-reviews .columna .review-text p {
      font-size: 1.1rem;
      line-height: 20px;
    }
    .popular-reviews .columna .like-review span {
      margin-top: 0;
    }
    .popular-reviews .columna .review-container::after {
      width: 100%;
    }
    .listas-container {
      display: block;
      height: 100%;
    }
    .lista {
      margin-bottom: 20px;
    }
    .lista ul {
      width: 100%;
      height: 100%;
    }
    .lista ul li img {
      height: 100%;
      width: 100%;
    }
    .lista .titulo-usuario {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .lista .titulo-usuario .usuario-lista p {
      font-size: 10px;
    }
    .popular-lists {
      position: relative;
      margin-top: 20px;
    }
    .margin-30 {
      margin-top: 50px;
    }
    .recent-stories {
      display: block;
    }
    .recent-stories .columna-2 {
      display: none;
    }
    .bloque .contenido p,
    .bloque .contenido a {
      font-size: 1rem;
    }
    .recent {
      display: block;
    }
    .recent .showdown-container h4 {
      font-size: 1.5rem;
    }
    .recent .showdown-container h5 {
      font-size: 1rem;
    }
    .recent .none {
      display: none;
    }
    footer {
      height: 100%;
    }
    footer .container ul {
      position: relative;
      justify-content: center;
      padding-top: 20px;
      margin-left: 20px;
    }
    footer .container ul li {
      margin-right: 10px;
      font-size: 1.1rem;
    }
    footer .container ul .none {
      display: none;
    }
    footer .container ul .more {
      display: inline-block;
      margin-left: auto;
    }
    footer .container ul .social-logos {
      display: none;
    }
    footer .container p {
      margin-top: 15px;
      text-align: center;
      line-height: 18px;
    }
    footer .container p .br {
      display: block;
    }
    footer .container .logo-none {
      display: block;
      width: 100%;
      padding-bottom: 20px;
      padding-top: 15px;
    }
    footer .container .logo-none .social-logos {
      width: 100%;
      justify-content: center;
      left: 0;
    }
    .get-pro {
      display: none;
    }
    .get-pro-mobile {
      display: block;
    }
    .modal {
      top: 45%;
      width: 350px;
    }
    .modal h4 {
      margin-bottom: 10px;
    }
    .modal p {
      font-size: 1.2rem;
    }
    .modal p.desktop-text {
      display: none;
    }
    .modal p.mobile-text {
      display: block;
    }
  }
  @keyframes modal-animation {
    0% {
      transform: translate(-50%, -50%) scale(0);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  @media (max-width: 850px) {
    .header ul {
      display: none;
    }
  }